@import "./styles/theme-tokens.css";
@import "./styles/base.css";
@import "./styles/blog-content.css";
@import "./styles/blog-editor.css";

@tailwind base;

@layer base {
  * {
    @apply border-border;
  }

  html,
  body {
    overflow-x: hidden;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      "rlig"1,
      "calt"1;
  }

  hr {
    @apply border-0 bg-border;
    height: 1px;
  }
}

@tailwind components;
@tailwind utilities;
